@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: Poppins, sans-serif;
}

.sm-text{
    font-size: 12px;
}


.modal.fade.in {
    opacity: 1 !important;  /* Set the modal opacity to 1 when it's in */
}